version: '3.8'

services:
  web_app:
    build:
      context: .                
      dockerfile: backend/Dockerfile.prod
    ports:
      - "5000:5000"            
    environment:
      - FLASK_DEBUG=0         